<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>You created a contact!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone }} </p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View Address Book.</a></p>
</body>
</html>
